.header .nav a {
    text-decoration: none;
    color: white;
    padding: 15px;
    margin: 0px 8px;
    text-transform: uppercase;
    font-weight: bold;
    width: 33%;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}
.header .nav {
    list-style: none;
    padding: 0px;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}
.logo {
    text-align: center;
}
/* Dropdown Button */
.dropbtn {
    color: #73a7da;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #004b8d;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px #4485bf;
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #73a7da;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #004b8d;}
  .buttons {
    text-decoration: none;
    border: 2px solid #73a7da;
    border-radius: 50em;
    text-transform: uppercase;
    font-weight: bold;
    width: 33%;
    background-color: #004b8d;
    float: left;
    padding: 10px;
    margin: 10px;
    text-align: center;
  }
.video {
  text-align: center;
  margin: 10px;
   padding: 10px;
}
.covid {
    text-decoration: none;
    border: 2px solid #73a7da;
    border-radius: 50em;
    padding: 15px 30px;
    margin: 0px 8px;
    text-transform: uppercase;
    font-weight: bold;
    width: 33%;
    color: #ffffff;
    background-color: #004b8d;
}
.meeting {
  text-decoration: none;
    border: 2px solid #73a7da;
    border-radius: 50em;
    padding: 15px 30px;
    margin: 0px 8px;
    text-transform: uppercase;
    font-weight: bold;
    width: 33%;
    color: #ffffff;
    background-color: #004b8d;
}
.counselors {
  text-decoration: none;
    border: 2px solid #73a7da;
    border-radius: 50em;
    padding: 15px 30px;
    margin: 0px 8px;
    text-transform: uppercase;
    font-weight: bold;
    width: 33%;
    color: #ffffff;
    background-color: #004b8d;
}
.buttons a {
color: white;
}
.meeting {
  color: white;
  float: right;
  padding: 10px;
  margin: 10px;
  text-align: center;
}
.covid {
  color: white;
  float: right;
  padding: 10px;
  margin: 10px;
  text-align: center;
}
.counselors {
  color: white;
  float: left;
  padding: 10px;
  margin: 10px;
  text-align: center;
}
.background {
  background-color: white;
  border: 5px solid #4485bf;
  width: auto;
  height: 250px;
  box-shadow: 10px 10px 8px 10px #004b8d;
}
.meeting a {
  color: white;
}
.counselors a {
  color: white;
}
.covid a {
  color: white;
}
.section1 {
  text-align: center;
  padding: 10px;
  margin: 50px;
  background-color: white;
  border: 5px solid #4485bf;
  box-shadow: 10px 10px 8px 10px #4485bf;

}
.section1 h3 {
  color: #004b8d;
}
.section1 h1 {
  color: #004b8d;
  text-transform: uppercase;
}
hr {
  background-color: #4485bf;
  height: 1px;
  border: 2px dotted #4485bf;
  width: 50%;
  float: left;
}
.section2 {
  width: 50%;
  float: left;
}
.section2 {
  align-items: left;
  border: 5px solid #4485bf;
  box-shadow: 10px 10px 8px 10px #4485bf;

}
.section1 hr {
  width: 100%;
}
.section2 h3 {
  color: #004b8d;
}
.section2 h1 {
  color: #004b8d;
  text-transform: uppercase;
}
.section3 {
  padding: 15px;
  margin: 15px;
  text-align: center;
  border: 5px solid #4485bf;
  box-shadow: 10px 10px 8px 10px #4485bf;
  float: right;
  width: 40%;
  height: 500px;
}
.section3 h1 {
  color: #004b8d;
  text-transform: uppercase;
}
.section3 h3 {
  color: #004b8d;
}